/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 juil. 2016, 18:18:08
    Author     : Admin
*/

html { height: 100%; margin: 0; padding: 0; }
body {height: 100%; margin: 0; padding: 0;}
#historique {
    margin-top:-37%
}
#details {display:inline-block;height:80%;width:40%;
          position:relative;top:10%;margin-left: 1%}

#map { display:inline-block;top:3%;height: 70%;box-shadow: 10px 10px 5px #8B8A8A;width: 60%;margin-left:43%; 
}


#title{background-color:buttonhighlight;box-shadow: 3px 3px 5px #888888;}
#reponse {color:green;}
hr {background-color:red;}

img {
    max-width: 50%;
    height: auto;
}